<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
</head>
<body>
    <div>
        <form action="{% url 'password' %}">
            <h1>Password Generator</h1>

            <label for="length">Selecciona el tamaño de la contraseña:</label>
            <select name="length" id="length">
                <option value="6">6 characters</option>
                <option value="7">7 characters</option>
                <option value="8">8 characters</option>
                <option value="9">9 characters</option>
                <option value="10">10 characters</option>
                <option value="11">11 characters</option>
                <option value="12">12 characters</option>
            </select>

            <label for="uppercase">Uppercase</label>
            <input type="checkbox" name="uppercase" id="uppercase">

            <label for="special">Caracteres especiales</label>
            <input type="checkbox" name="special" id="special">

            <label for="numbers">Números</label>
            <input type="checkbox" name="numbers" id="numbers">

            <button>Generar Contraseña</button>
        </form>
    </div>
</body>
</html>